@media (max-width:769px) and (max-height:1025px) {
    #bt {
        margin-top: 18px;
    }
    .control {
        margin-bottom: 280px;
    }
    .carousel-caption {
        padding-bottom: 355px;
    }
    .carousel-indicators {
        margin-bottom: 23rem;
    }
    .icone {
        top: 328%;
        left: 42%;
    }
    #iconeposition2 {
        top: 328%;
        left: 51%
    }
    #iconeposition3 {
        top: 328%;
    }
}